html,
body {
	margin: 0px;
	padding: 0px;
}

*,
html,
body,
table {
	font-family: "verdana", "sans-serif";
	font-size: 8pt;
}

.font8 {
	font-size: 8pt !important;
}

.font7 {
	font-size: 7pt !important;
}

.cxs {
	line-height: 8pt !important;
}

.font6 {
	font-size: 6pt !important;
}

.font5 {
	font-size: 5pt !important;
}

table.font7 {
	font-size: 7pt !important;
}

.font10 {
	font-size: 10pt !important;
}
.font11 {
	font-size: 11pt !important;
}

.tright {
	text-align: right;
}

.tleft {
	text-align: left;
}

.tcenter {
	text-align: center;
}

.u {
	text-decoration: underline;
}

.tbl_head,
.tbl_body {
	width: 100%;
}

.tbl_head thead tr td,
.tbl_head thead tr th {
}

.tbl_body thead tr td {
	padding: 5px 3px;
	border-bottom: 0px;
}

.tbl_body thead tr th {
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	padding: 5px 3px;
	vertical-align: top;
}

.tbl_head tbody tr td,
.tbl_head tbody tr th,
.tbl_body tbody tr td,
.tbl_body tbody tr th {
	border: 0px;
	border-right: 1px;
	border-top: 1px;
	padding: 5px 3px;
	vertical-align: top;
}

table tr th.borderright,
table tr td.borderright {
	border-right: 1px solid #000 !important;
}

table tr th.borderleft,
table tr td.borderleft {
	border-left: 1px solid #000 !important;
}

table tr th.borderbottomblack,
table tr td.borderbottomblack {
	border-bottom: 1px solid #000 !important;
}

.bordertop td,
.bordertop th {
	border-top: 1px solid #000 !important;
}

.borderbottom th .borderbottom td {
	border-bottom: 1px solid #000 !important;
}

.borderbottomcolor td {
	border-bottom-color: #ddd !important;
}

.odd td {
	background: #f6f6f6 !important;
}

.garis {
	border: 3px solid #000;
}
